{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="row">
        <form class="col s12" method="post" action="/account/modify_pwd/">
            {% csrf_token %}
            <div class="row">
                <!-- <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div> -->
                <div class="input-field col s6" align="center">
                    <input id="password" type="password" class="validate" name="oldPwd">
                    <label for="password">旧密码</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" align="center">
                    <input id="password" type="password" class="validate" name="newPwd">
                    <label for="password">新密码</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" align="center">
                    <input id="password1" type="password" class="validate" name="againNewPwd">
                    <label for="password">再输入一次新密码</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
                <!-- <a href="{% url 'login' %}" style="color:white;"> -->
                修改
                <!-- </a> -->
                <i class="mdi-content-send right"></i>
            </button>
        </form>
        <!-- {% if error %}
            <p>{{ error }}</p>
        {% endif %} -->
        {% if info %}
            <p>{{ info }}</p>
        {% endif %}

    </div>
{% endblock %}
